.body{
  margin: 0px;
  padding: 0px;
}
.pages{
  background-color: #555252;
  opacity: 0.9;
  text-align: right;
  color: #fff;
  list-style: none;
  padding:0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height:auto;
  margin: 0%;
}
.header{
  background-image: url(bg.jpg);
  width: 100%;
  height: 50%;
  padding: 0px;
  text-align: center;
  background-size: cover;
  background-position: center center;
}

.head_k{
  background-image: url(bg-subpage.jpg);
  width: 110%;
  padding: 12px;
  text-align: left;
  color: #eee;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  height: 526px;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}

.sirkill{
  width: 50%;
  height: 25%;
}

.form{
  display: flex;
}
.right{
  flex: 1;
}
.left{
  flex: 1;
}
.button {
  max-width: 250px;
  width: 100%;
  padding: 10px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #eee;
  background-color: #666;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 0.25em;
  white-space: nowrap;
  text-align: center;
  margin:0;
  display: inline-block;
}

  .button:hover {
    background-color: #333;
  }
    .button--inverted {
      color: #666;
      background-color: #eee;
    }
      .button--inverted:hover {
        color: #333;
        background-color: #ccc;
      }
      .button--disabled {
        color: #999;
        background-color: #eee;
        border: #eee;
        cursor: default;
      }
      .button--disabled:hover {
      background-color: #eee;
      cursor: default;
    }
.panta {
      text-align: center; }
.pages > li{
  display: inline-block;
  padding-right: 20px;
}

.pages > li > a{
  font-family: 'Arial';
  text-decoration: none;
  color: #fff;
}

.pages > li > button{
  font-size: 22px;
}

.ritvel{
  max-width: 16em;
  height: 100%;
  width: 100%;
}

.containerTikk{
  display: flex;
}

.Tikk{
  float: left;
  overflow: auto;

}
.containerTikk > img{

}

.myndatext{
  display: flex;
}

.folkmynd{
  flex: 1;
}

.img-circle{
  border-radius: 50%;
  padding-top: 1em;
}
